<?xml version="1.0"?>

<launch>

    <arg name="scan_topic" default="/sick_safetyscanners/scan"/>
    <arg name="odom_topic" default="/rabbitamr_diff_drive_controller/odom"/>


    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <remap from="scan" to="$(arg scan_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
        <rosparam file="$(find rabbitamr_navigation)/config/slam_gmapping.yaml" command="load"/>
    </node>


    <!--- Run Rviz -->
<!--    <include file="$(find rabbitamr_viz)/launch/rabbitamr_mapping.launch" />-->

</launch>
