<?xml version="1.0"?>

<launch>
    <!--Robot Description from URDF-->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find rabbitamr_description)/urdf/rabbitamr.urdf.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>


    <!--Gazebo empty world launch file-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rabbitamr_gazebo)/worlds/world3.world"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!--Gazebo Simulator-->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model rabbitamr -x 0 -y 0 -z 0.5" output="screen"/>

</launch>
